/* SECTION Elements & Other */

body{
  font-family: 'Roboto Mono', monospace;
}

/* SECTION Classes */

.nomb{
  margin-bottom: 0;
}

.myCard{
  border-radius: 0 0 5px 5px;
}

.myCardImg{
  border-radius: 5px 5px 0 0;
}

/* SECTION IDs */